.header {
    font-size: 50px;
    color: white;
}

label[for="name"] {
    display: flex;
    font-size: 35px;
    align-content: center;
    justify-content: center;
    color:white;
}

input[type="text"] {
    display: flex;
    padding: 6px 12px;
}

.buttons {
    display: flex;
    justify-content: center;
}

#modal-component .click-me {
    background-color: #0dcaf0;
    padding: 10px;
    margin: 20px 10px;
}

#reset {
    background-color: #0dcaf0;
    padding: 10px;
    margin: 20px 10px;
}